.form{
    width:60%;
    height:auto;
    margin:0 auto;
    background-color:white;
    border-radius: 11px;
}
.formContainer{
    height:140vh;
    margin: 0 auto;
    background-image: url('/src/images/cubes.png');
}
.form-title{
    display: block;
    width:100%;
    background: #42a5f4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.form-title h3{
    text-align: center;
    color: #ffffff;
    padding: 15px;
}
.filter_results{
    padding-bottom:2%;
}
.form-group{
    margin:auto;
    padding-bottom: 20px;
    text-align: left;
}
.form-description{
    display: block;
    width:60%;
    height: 50vh;
    margin:20px auto 0 auto;
}
.form-label{
    display: block;
    clear:both;
    width:60%;
    margin:10px auto 0 auto;
    font-size: 20px;
}
.form-text{
    display: block;
    width:60%;
    clear:both;
    margin:10px auto 0 auto;
    font-size: 20px;
}
.charcount{
    font-size: 12px;
    text-align: center;
}

.form-button{
    width:150px;
    display:block;
    clear:both;
    margin: 10px auto;
    text-align: center;
}
@media screen and (max-width: 1073px) {
    .form{
        width:80%;
    }
}
@media screen and (max-width: 800px) {
    .form{
        width:90%;
    }
}
@media screen and (max-width: 700px) {
    .form{
        width:100%;
    }
}

@media screen and (max-width: 600px) {
    .form-words-ul {
        width: 100%;
    }
    .form-text{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .form-description{
        width:100%;
        margin:20px 0 0 0;
    }
    .form-label{
        width:100%;
        margin:20px 0 0 0;
    }
    .form-text{
        width: 100%;
    }
}

.recaptcha_div{
    width:300px;
    margin:0 auto;
}