/*
//////////////////////////////////////////////////////
		#Idea
//////////////////////////////////////////////////////
*/

.results_idea{
    position: relative;
    display: block;
    height: auto;
    width: 60%;
    margin:0 auto;
    background-color:white;
    min-height:500px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .ideaContainer{
    height:auto;
    margin: 0 auto;
    background-image: url('/src/images/cubes.png');
  }
#idea-tabs {
    margin: 0 15%;
}
.reanalyzeMessage{
    color:white;
    background-color:rgba(34, 209, 78,0.9);
    font-weight:bold;
    font-size:2em;
    position:fixed;
    top: 50%;
    z-index: 3;
    left: 55%;
    padding: 5px 5px;   
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
}
.idea-pills {
    width: 49%;
}
#shareidea{
    display:inline-block;
    float: left;
    width: 100%;
}
.shareIdeaContent h3{
    color: #cafffa;

}
#shareidea input{
    display:block;
    float: none;
    width: 320px;
    margin: 3px auto;
}
#btnEmail button,#btnSend button{
    background-color: #66CCFF;
    border-color: #0099CC;
    color: #003399;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    display: inline-block;
    overflow: visible;
    text-transform: none;
    cursor: pointer;
}
