
#footer{
    background-color: #42a5f5;
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}
#partners_div{
    left:2%;
    position: absolute;
    text-align:justify;
    height:auto;
    font-size: 1.5em;
    font-weight: 700;
}
#copyright {
    display:inline-block;
    vertical-align: middle;
}

#contacts,#about{
    display:inline-block;
}
#feup_logo{
    padding-bottom:3;
    max-width: 20%;
    height: auto;
}
#footer_contacts_div{
    display:inline-block;
    position:absolute;
    right: 2%;

}

@media only screen and (max-width: 500px){
    #copyright {
        display:none;
    }
}
