.form{
    width:60%;
    height:auto;
    margin:0 auto;
    background-color:white;
    border-radius: 11px;
}
.formContainer{
    height:auto;
    margin: 0 auto;
    background-image: url('/src/images/cubes.png');
  }
.form-title{
    display: block;
    width:100%;
    background: #42a5f4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.form-title h3{
    text-align: center;
    color: #ffffff;
    padding: 15px;
}  
.filter_results{
    margin:auto;
    text-align:center;
    padding-bottom:2%;
}
.form-description{
    display: block;
    width:70%;
    height: 50vh;
    margin:20px auto 0 auto;
}
.form-label{
    display: block;
    width:70%;
    margin:10px auto 0 auto;
    font-size: 20px;
}
.form-label-edit{
    display: block;
    width:70%;
    margin:10px auto 0 auto;
    margin-left: 21%;
    padding-right: 0;
    font-size: 20px;
}

.form-words{
    margin:5px 5px 0 0;
    text-align: center;
    width:auto;
    font-size: 14px;
    display: inline-block;
    background: #39343b;
    color: #ffffff;
    padding:4px;
    border-radius: 5px;
}
.form-words-ul{
    width:70%;
    display: block;
    margin:0 auto;
    padding: 20px 0 0 40px;
    text-align: center;
}
.form-keywordN{
    width:100%;
    text-align: center;
}
.form-keywordN p{
    margin:5px 0 10px 0;
    font-size: 14px;
    display: inline-block;
    background: #39343b;
    color: #ffffff;
    padding:4px;
    border-radius: 5px;
}
form-hr {
    height: 1vh;
    border-radius: 10px;
}
form-hr:before {
    display: block;
    content: "";
    height: 2vh;
}
.charcount{
    font-size: 12px;
}
@media screen and (max-width: 1073px) {
    .form{
        width:80%;
    }
}
@media screen and (max-width: 800px) {
    .form{
        width:90%;
    }
}
@media screen and (max-width: 700px) {
    .form{
        width:100%;
    }
}

@media screen and (max-width: 600px) {
    .form-words-ul {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .form-description{
        width:100%;
        margin:20px 0 0 0;
    }
    .form-label{
        width:100%;
        margin:20px 0 0 0;
    }
    .form-label-edit{
        width:100%;
        margin:20px 0 0 0;
    }
}

.edit-button {
    margin-right: 0;
    padding-right: 14%;
    width: 40px;
    height: 40px;
    background-color: Transparent;
    border: none;
    display: inline;
    float: right;
}

.recaptcha_div{
    width:300px;
    margin:0 auto;
}