
/*
//////////////////////////////////////////////////////
		#Results
//////////////////////////////////////////////////////
*/

.results{
    position: relative;
    display: block;
    width: 60%;
    height: auto;
    margin:0 auto;
    background-color:white;
    min-height:500px;
  }

.resultsContainer{
    height:auto;
    margin: 0 auto;
    background-image: url('/src/images/cubes.png');
  }
  
  @media screen and (max-width: 700px) {
    div.results{
        width:100%;
    }
  }
  
  .results-title{
    display: block;
    width:100%;
    background: #42a5f4;
  }
  
  .results-title h3{
    text-align: center;
    color: #ffffff;
    padding: 15px;
  }
  
  .saveresultsinfo{
    display:inline-block;
    width: 100%;
    height: 50px;
  }
  
  .saveresultsinfo p {
    text-align: center;
  }
  
  .saveresultsinfo p span {
    cursor: pointer;
    font-weight: bold;
  }
  
  .saveIdeaTitle{
    display:inline-block;
    float: left;
    width: 100%;
    height: 50px;
  }
  
  #ideatitleinfo{
    display:none;
    float: left;
    width: 100%;
    height: 50px;
    color:red;
    font-size: 70%;
  }
  