/*
//////////////////////////////////////////////////////
		#Common
//////////////////////////////////////////////////////
*/
.App {
  text-align: center;
}
.backgroundContainer{
  height:100vh;
  margin: 0 auto;
  background-image: url('/src/images/cubes.png');
}



/*
//////////////////////////////////////////////////////
		#Scattered Words
//////////////////////////////////////////////////////
*/
.wordsContainer{
  height:auto;
  min-height:100vh;
  margin: 0 auto;
  background-image: url('/src/images/cubes.png');
}
.table{
  margin:auto;
  width:50%;
}
.table,table.table-bordered > thead > tr > th,table.table-bordered > tbody > tr > td{
  border:1px solid rgb(18, 18, 19);
}
th{
  font-family: Lora;
  font-weight: bold;
  font-size: 1.3em;
  text-align:center;
}

.centerWord{
  position: absolute;
  top:55%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media only screen and (max-width: 700px){
  .table{
    width:100%;
  }
}

button.btn {
    background-color: #66CCFF;
    border-color:  #0099CC;
    color: #003399;
}

#login-btn {
    margin-top: 10px;
    background-color: white;
    color: black;
}

#register-btn {
    margin-top: 10px;
    background-color: white;
    color: black;
}

.panel-footer button.btn:hover {
  background-color: #003399;
  border-color:  #0099CC;
  color: #66CCFF;
}
.panel-footer{
  /*background-color: #4a7ce0;*/
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
}

.words-title{
  display: block;
  margin:0 auto;
}

/*
//////////////////////////////////////////////////////
		#Profile/Teams Shared
//////////////////////////////////////////////////////
*/
.idea_portfolio {
  background-color: #42a5f4;

}

.shared_portfolio{
  background-color: #1680d1;
  margin-bottom:0;
  color:black;
  font-size: 1.2em;
  border-radius: 0;
  padding-bottom:0;
}

.idea_portfolio a {
  color: black;
  position:relative;
}
.profileContainer{
  height:auto;
  padding-bottom:20%;
  margin: 0 auto;
  background-image: url('/src/images/cubes.png');
}
.deleteIdea,.favouriteIdea{
  background-color: transparent;
  border-color: #66CCFF;
  
}
.deleteIdea:hover,.favouriteIdea:hover{
  background-color: #0099CC;
  border-color:  #66CCFF;
}
.profile-title{
  display: block;
  width:100%;
  background: #42a5f4;
}
.profile-title h3{
  text-align: center;
  color: #ffffff;
  padding: 15px;
  font-family: Lora;
}
.profile_div{
  display: block;
  min-height:50%;
  width:100%;
  height: auto;
  margin:0 auto;
  background-color:white;
}
.collapse-non-md {
  font-weight:lighter;
  font-size:0.7em;
}
.myimg{
  padding-left:20px;
  padding-right:20px;
}
.action-buttons{
  padding-top:10px;
  padding-right:5px;

}
@media only screen and (max-width: 770px){
 .myimg{
  padding:0;
 }
}
@media only screen and (max-width: 1000px){
    .portfolio{
      width:100%;
      padding-bottom:5%;
    }
    .box-body{
      width:100%;
    }
    .collapse-non-md {
      height: 0;
      display: none;
    }
    .collapse-non-md.collapsing {
      display: block;
    }
}
/*
//////////////////////////////////////////////////////
		#Simple Slider
//////////////////////////////////////////////////////
*/

h2,h3,h4,h5,h1{
  font-family: Lora;
}
.home_title{
  font-size:2em;
}
.home_title_div{
  
  position: absolute;
  top: 0;
  left:25%;
  z-index:2;
}

@media only screen and (max-width: 800px){
  .home_title_div{
    position: absolute;
    top: 0;
    left:7%;
    z-index:2;
  }
  .home_title{
    font-size:1.5em;
  }
}

.title_font{
  font-family: Lora;
}
.normal_text{
  font-family: Lato;
}
.about-content{
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
}

.about-content p{
  font-family: Lato;
  text-align: justify;
  margin: 5%;
  font-size: 1.1em;
}

/*
//////////////////////////////////////////////////////
		#Edit Profile
//////////////////////////////////////////////////////
*/
.modal-title {
    text-align: center;
}

.modal-footer {
    text-align: center;
}

button.modalButton {
    width: 80%;
    height: 40px;
    
}

@media screen and (max-width: 768px) {
	button.modalButton {
        width: 80%;
    }
    #save  {
        margin-bottom: 20px;
    }
}

#save:focus {
    background-color: #66CCFF;
    border-color: #0099CC;
    color: #003399;
}

.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(0,250px);
	transform: translate3d(0, 250px,0);
}

.form-group {
    padding: 0;
    margin: 0;
}

.login-form {
    padding: 2%;
}

.modal-content {
    overflow-y: scroll;
    max-height: 85vh;
}

.normal-modal {
    overflow: auto;
    /*max-height: 85vh;*/
}