/*
//////////////////////////////////////////////////////
		#NavBar
//////////////////////////////////////////////////////
*/
.navlinkto{
    color: white;
    background-color: #42A5F5;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    padding: 20px 30px;
    height: 60px;
    text-decoration: none;
}
.navlinkto:hover{
    background-color: #64B5F6;
    color: white;
    font-weight: bold;
	text-decoration: none;
	
}
.navlinkto:visited{
    text-decoration: none;
}
#nav-button{
	display:inline-block;
}
#nav-button:hover{
	cursor:pointer;
}
#nav {
  	background-color: #42A5F5;
	padding:  0px;
	margin: 0px;
	border-radius: 0;
	border: 0;
}

.nav-button {
	padding-top: 30%;
}

.container {
	min-height: 60px;
}

#nav-options {
	float: right;
}

.fb-share-button{
	display: inline-block;
}
.socialDiv {
	display: inline-block;
	vertical-align: middle;
}

/*desktop*/
@media screen and (min-width: 768px) {
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header  {
		height: 60px;
		margin: 0px;
	}

	.navbar-default .navbar-nav>li:hover {
		background-color: #64B5F6;
	}

	.navbar-default a.navbar-brand:hover {

		color: #E3F2FD;
	}

	#synopsis-ta {
		width: 50%;
		margin: 0 25% 0 25%;
	}

	#update-password {
		width: 60%;
		margin-left: 20%;
	}

	#nav-right {
		margin-right: 0;
		padding-right: 0;
		float: right;
	}

    #mymodal .modal-dialog {
        position:fixed;
        top:60px;
        right:30px;
        margin:0px;
    }

	.profile-modal {
		width: 20%;
	}

	.idea-modal {
		position: relative;
		width: 80%;
		left: 10%;
		right: 10%;

	}

}

/*mobile*/
@media screen and (max-width: 768px) {
	#nav-options {
		float: left;
	}

	#synopsis-ta {
		width: 100%;
		margin: 0;
	}

	#update-password {
		width: 100%;
		margin-left: 0;
	}

	#nav-right  {
		padding: 0;
		margin: 0;
		float: right;
	}

    #mymodal .modal-dialog {
        position:fixed;
        top:60px;
        right: 20px;
        left: 10px;
        margin:0px;
    }

}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-nav>li>a:hover {
		color: #E3F2FD;
	}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin: 5px 0px;
	font-size: 2.4rem;
	color: white;
	padding: 20px;
	height: auto;
	font-weight: bold;

}

.navbar-header:hover {
	background-color: #64B5F6;
}



.panel-default>.panel-heading {
	text-align: center;
	background-color: #1E88E5;
	color: white;
	padding: 15px;
}

.panel-default>.panel-heading>h3{
	color: white;
	font-size: 1.9rem;
}


.navbar-default .navbar-nav>li {
	font-weight: bold;
	height: 60px;
	line-height: 60px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	margin: 5px 0px;
}



.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #64B5F6;
    color: white;
}

.dropdown-menu>li, .dropdown-menu {
	background-color: #42A5F5;
	color: white;

	left:auto;
	right:0;
	z-index: 1;
}

.dropdown>ul {
	margin:0;
}

#profile-button {
	height: 10%;
}

.dropdown-menu>li>a {
    color: white;
    background-color: inherit;
}

.login-form {
	padding: 0px 10px;
}

.dropdown-menu>li>a:hover {
    background-color: #64B5F6;
    color: white;
}

.dropdown-menu {
	float: right;
}


.btn-group > .btn:first-child {
    height: 100%;
    color: white;
    background-color: #42A5F5;
    border: none;
    border-radius: 0px;
    font-weight: bold;
}

.btn-group > .btn:first-child:hover {
    background-color: #64B5F6 ;
    color: white;
    border: none;

}

.btn-group > .btn:first-child:focus {
    background-color: #64B5F6;
    color: white;

}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #64B5F6;
    color: white;
}

.navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:focus {
    background-color: #64B5F6;
    color: white;
}


.btn-group, .btn-group-vertical {
    height: 60px;
}

.btn .caret {
    display: none;
}

.enclosing-div {
	display: inline;
	width: 50px;
}

.nav {
	margin: 0%;
}

@media (min-width: 768px)
{
	.navbar-header
	{
		float: none;
	}

	.navbar-toggle
	{
		display: block;
	}

	.navbar-collapse.collapse
	{
		display: none !important;
	}
}

.modal-content {
	margin: 1%;
	padding: 0;
}

#tooltip-bottom {
	margin-left: 0;
	right: 50px;
	margin-top: 10px;
	width: 150px;
}

.rsbc-switch-button {
	margin: 0px 5px;
}

#login-submit {
	display: inline;
	margin: 15px;
	/*color: red;*/
	font-weight: bold;
}

#reset-password {
	border: none;
	background: white;
	color: black;
	font-weight: bold;
	margin: 8px 0 0 20px;
	padding: 0;
	display: inline;
}

#reset-password:hover {
	color: blue;
}

.rsbc-switch-button {
	margin: 1%;

}

#synopsis-ta {
	text-align: center;
	/*font-weight: bold;*/
	font-size: x-large;
}

#page {
	padding-bottom: 70.7%;
}

.activate-link {
	position: absolute;
	margin-top: 30%;
	width: 100%;
	font-size: large;
	font-style: normal;
	text-decoration: none;
	color: white;
	text-align: center;
}

.activate-link:hover {
	text-decoration: none;
}

.profile {
	font-size: large;
	font-style: normal;
	color: black;
	margin: 0;
	padding: 1% 0 1% 0;
	text-align: center;
}

.profile:hover {
	background: lightblue;
	border-radius: 4px;
}

.content {
	width: 100%;
}

#page-left {
	left: 0;
	width: 50%;
	padding: 5%;
}

#page-right {
	width: 50%;
	right: 0;
	padding: 5%;
}

#reanalyze-left {
	left: 0;
	width: 65%;
	padding: 0;
}

#reanalyze-right {
	width: 35%;
	right: 0;
	padding: 0;
}

.form-description {
	height: 20%;
}

.idea-pills {
	background: white;
	border-radius: 5px;
}

#mymodal {
	transition: none;
}

.idea-modal {
	height: 90%;
	overflow: scroll;
}

.profile-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#share-message {
	padding-top: 100px;
	color: black;
	font-weight: bold;
}