.teamlist{
    max-height:60vh;
    min-height:30vh;
    overflow-y:auto;
    overflow-x:hidden;

}
.teamsContainer{
    height:auto;
    padding:20vh 0;
    width:80%;
    margin: 0 auto;
    background-image: url('/src/images/cubes.png');
}
.teams-div{
    display: block;
    width:100%;
    background-color:white;
}
.teams-body{
     padding:5vh 0;
}
.add_member{
    width:50%;
}
.add_team{
    width:80%;
    font-size:0.8em;
}
/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 30px;
    height: 26px;
    left: 0.5%;
    top: 3%;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #A2EAFF;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 50px;
    width: 50px;
  }


  /* Wrapper for item list */
  .bm-item-list a{
    color:white;
    text-decoration: none;
    cursor: pointer;
    padding-bottom:3%;
  }
  
/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}
  
  /* General sidebar styles */
.bm-menu {
    background: #42A5F5;
    padding: 2.5em 1.5em 0;
    font-size: 1.5em;
}


.delete{
    color: rgb(241, 77, 77);
    opacity:0.5;
    background:transparent;
    border:none;
    float: right;
    font-size: 21px;
    font-weight: bold;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
}

.delete:hover{
    opacity:1;
    color: rgb(233, 34, 34);
}

.delete:focus{
    outline:0;
}
.add_member_button{
    color: rgb(78, 155, 214);
    opacity:0.8;
    background:transparent;
    border:none;
    font-size: 21px;
    font-weight: bold;
    -webkit-appearance: none;
    padding: 0 5;
    cursor: pointer;
}
.add_member_button:hover{
    opacity:1;
    color: rgb(57, 160, 238);
}
.add_member_button:focus{
    outline:0;
}

.create_team_button{
    color: rgb(215, 220, 223);
    opacity:0.6;
    background:transparent;
    border:none;
    font-size: 21px;
    font-weight: bold;
    -webkit-appearance: none;
    padding: 0 5;
    cursor: pointer;
}
.create_team_button:hover{
    opacity:1;
    color: rgb(226, 233, 238);
}
.create_team_button:focus{
    outline:0;
}
.menu-item:hover {
    background: rgb(78, 155, 214)
 }
  
.menu-title{
    color:white;
    overflow-x: hidden;
    padding-bottom:5%;
}

#slide{
    width:20%;
}

@media screen and (max-width: 800px) {
    #slide{
        width:30%;
    }
}