.about{
    position: relative;
    display: block;
    width: 60%;
    height: auto;
    margin:0 auto;
    background-color:white;
    min-height:500px;
    border-radius: 15px;
  }

.about-title {
    display: block;
    width: 100%;
    background: #1E88E5;
    margin: 0 auto 20px auto;
    border-radius: 11px;
}
.about-title h3{
    text-align: center;
    color: #ffffff;
    padding: 15px;
  }
  
