/*
//////////////////////////////////////////////////////
		#NavBar
//////////////////////////////////////////////////////
*/

body{
     background-color: #e9ebee;	
}

#nav {
  background-color: #42A5F5;
  padding:  0px;		
}

.container {
	min-height: 60px;
}





#nav-options {
	float: right;
}


@media screen and (min-width: 768px) {
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header  {
		height: 60px;
		margin: 0px;
	}

	.navbar-default .navbar-nav>li:hover {
		background-color: #64B5F6;
	}

	
	
	.navbar-default a.navbar-brand:hover {
	
		color: #E3F2FD;
	}

} 

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}


@media screen and (max-width: 768px) {
	#nav-options {
		float: left;
	}
}

.navbar-default .navbar-nav>li>a:hover {
		color: #E3F2FD;
	}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin: 5px 0px;
	font-size: 2.4rem;
	color: white;
	padding: inherit 20px;
	height: auto;
	font-weight: bold;
	
}

.navbar-header:hover {
	background-color: #64B5F6;
}



.panel-default>.panel-heading {
	text-align: center;
	background-color: #1E88E5;
	color: white;
	padding: 15px;
}

.panel-default>.panel-heading>h3{
	color: white;
	font-size: 1.9rem;
}

.panel-body > button {
	
	width: 200px;
}

.navbar-default .navbar-nav>li {
	font-weight: bold;
	height: 60px;
	line-height: 60px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	margin: 5px 0px;
}




#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
#custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 15px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
	
    }
 
#custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #42A5F5;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }


.panel-title {
	text-align: center;
	
}

.panel-title > h3 {
	margin-bottom: 30px;
}


footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background-color: #e9ebee;    
}



.image { 
   background-image: url("../img/blue-post-it.png");
   width: 260px;
   height: 250px;
   text-align: center;
   line-height: 250px;	
   position: relative;
   
}

.image > h3 { 
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    color: white;
}


#reg_id {
    margin-bottom:  20px;	 
	width: 100%;
	text-align: center;
		
}

#reg_id button{
	width: 200px;
	margin: 0 auto;
}

.keywords {
    text-align: center;
    
}

.keywords > h3{
    display: inline-block;
}

.description {
    padding: 0px 50px;
    text-align: justify;
    margin-bottom: 30px;
}

.panel-footer {
    text-align: center;
}

.panel-footer > button {
    width: 200px;
}

.description > h2 {
    margin-bottom: 20px;
}


.content-section-a {
    
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}


.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

 .portfolio * {
    border: none;
}

.portfolio li{
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 10px;
}

.glyphicon {
    margin-right: 5px;
}

.glyphicon-trash {
    color: rgb(209, 91, 71);
}

.glyphicon-flag{ color: rgb(248, 148, 6);}

.portfolio-heading{
    text-align: center;
}

@media screen and (max-width: 990px) {
    #portfolio{
        margin-top: 50px;
    }
}

#keywords {
    position: relative;
    height: 400px; 
}

.keyword {
    position: absolute;
    color: #42A5F5;
}

#keyword1 {
    color: #1E88E5;
}

.panel-footer button.btn {
    background-color: #66CCFF;
    border-color:  #0099CC;
    color: #003399;
}

.panel-footer button.btn:hover {
    background-color: #0099CC;
    border-color:  #0099CC;
    color: #66CCFF;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #64B5F6;
    color: white;
}

.dropdown-menu>li, .dropdown-menu {
    background-color: #42A5F5; 
    color: white;
}
.dropdown-menu>li>a {
    color: white;
    background-color: inherit;
}

.dropdown-menu>li>a:hover {
    background-color: #64B5F6;
    color: white;
}

#lamp {
    position: fixed;
    bottom: 50px;
    right: 50px;
}